OKX_API_KEY=
OKX_SECRET=
OKX_PASSWORD=
ENABLE_LIVE_TRADING=false
DEFAULT_EXCHANGE=okx
DEFAULT_BASE_ASSET=BTC
DEFAULT_SYMBOL=BTC/USDT:USDT
DEFAULT_TIMEFRAMES=1d,4h,1h,15m,5m,1m
LOOKBACK_MONTHS=36
DEFAULT_FEE_BPS=10
DEFAULT_SLIPPAGE_BPS=5
DEFAULT_LEVERAGE=20
DEFAULT_POSITION_PCT=0.05
